<a href="https://colab.research.google.com/github/itsvinit11/Ugyam/blob/main/Recomendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Content-Based-Filtering

import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
from sklearn.metrics import accuracy_score
import pickle

# Gather data
events = pd.read_csv('caterings1.csv')
#url = (r"")


# Define features
features = [ 'Caterer Name','Address','Price Range','Email Address','Specialties']

# Preprocess data
events = events.drop_duplicates(subset=['Email Address']) # Remove duplicates
events = events[features].fillna('') # Fill any missing values with empty string

# Vectorize features
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform(events.apply(lambda x: ' '.join(x.astype(str)), axis=1))
feature_names = vectorizer.get_feature_names_out()


# Build the model / Training the model
def content_based_filtering(user_events,n_recommendations=3):
    # Get user's event history
    user_vector = vectorizer.transform([' '.join(user_events)])
    
    # Compute similarity scores between user's history and all events
    similarity_scores = cosine_similarity(user_vector, vectors).flatten()
    
    # Get top n most similar events
    top_indices = similarity_scores.argsort()[::-1][:n_recommendations]
    
    recommend=events.iloc[top_indices]
    
    # Return event recommendations
    return recommend

# Train and test the model
user_events = ["Udaipur"]
recommendations = content_based_filtering(user_events,n_recommendations=3)
print(recommendations)

                 Caterer Name                      Address  \
23            Balaji Caterers     Surajpole Bazar, Udaipur
27      Udaipur Food Caterers  Durga Nursery Road, Udaipur
8   Udaipur Catering Services     Ambamata Scheme, Udaipur

                     Price Range                      Email Address  \
23  Rs. 500 - Rs. 1500 per plate   balajicaterers.udaipur@gmail.com
27     ₹1,000 - ₹3,000 per plate      udaipurfoodcaterers@gmail.com
8   Rs. 500 - Rs. 1000 per plate  udaipurcateringservices@gmail.com

                          Specialties
23  Rajasthani, North Indian, Chinese
27  Rajasthani, North Indian, Chinese
8   Rajasthani, North Indian, Chinese

# New section

# New section

In [4]:
events.head()#caterings dataset

,Caterer Name,Address,Price Range,Email Address,Specialties
0,Laxmi Caterers,"Hiran Magri, Sector 4, Udaipur",Rs. 500 - Rs. 1000 per plate,info@laxmicaterers.in,"Vegetarian, North Indian, Chinese"
1,Panna Lal Catering,"Raja Park, Jaipur",Rs. 300 - Rs. 800 per plate,pannalalcaterers@gmail.com,"Rajasthani, North Indian, Continental"
2,Jodhpur Caterers,"9th C Road, Sardarpura, Jodhpur",Rs. 600 - Rs. 1500 per plate,info@jodhpurcaterers.com,"Rajasthani, North Indian, Chinese"
3,Shri Marwar Caterers,"2nd Floor, Om Shanti Complex, Bhupalpura, Udaipur",Rs. 200 - Rs. 500 per plate,info@shrimarwarcaterers.com,"Rajasthani, North Indian, Continental"
4,Sharma Caterers,"Ambabari, Jaipur",Rs. 100 - Rs. 300 per plate,sharmacaterers.jaipur@gmail.com,"Rajasthani, North Indian, Chinese"

In [5]:
#Naive bayes for checking the accuracy

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


# define the feature and target columns
X = events["Specialties"]
y = events["Price Range"]

# split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# define a pipeline to vectorize text and train a Multinomial Naive Bayes classifier
pipeline = Pipeline([
    ("vectorizer", TfidfVectorizer()),
    ("classifier", MultinomialNB())
])

# fit the pipeline on the training data
pipeline.fit(X_train, y_train)

# make predictions on the test set
y_pred = pipeline.predict(X_test)

# calculate accuracy of the model on the test set
a = accuracy_score(y_test, y_pred)

# print the accuracy score
print("Accuracy on test set: {:.2f}".format(a*100))

Accuracy on test set: 12.90